page-instructions {
    
}

.back{
    background-position-y: 35px;
    background-image: url('../../assets/imgs/foot2.jpg');
    background-size: 700px 620px;
    background-repeat: no-repeat;
}

.button1{
    top:15px;
    left:170px;
}
.button2{
    top: 150px;
    right: 50px;
}
.button3{
    top: 500px;
}
.button4{
    top: 120px;
    right: 40px;
}
.button5{
    top: 150px;
    left: 10px;
}
.button6{
    top: 300px;
    right: 200px;
}
.button7{
    top: 150px;
    left: 80px;
}
.button8{
    top: 300px;
    left: 220px;
}
.button9{
    top: 15px;
    left: 10px;
}
.button10{
    top: 150px;
    left: 150px;
}
.button11{
    top: 120px;
    left: 20px;
}
.button12{
    top: 500px;
    right: 20px;
}